@font-face {
    font-family: 'ci';
    src: url('../fonts/Cormorant-Italic.woff2') format('woff2'), url('../fonts/Cormorant-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'ol';
    src: url('../fonts/Oswald-Light.woff2') format('woff2'), url('../fonts/Oswald-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'cr';
    src: url('../fonts/Cormorant-Regular.woff2') format('woff2'), url('../fonts/Cormorant-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'csmi';
    src: url('../fonts/Cormorant-SemiBoldItalic.woff2') format('woff2'), url('../fonts/Cormorant-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'or';
    src: url('../fonts/Oswald-Regular.woff2') format('woff2'), url('../fonts/Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'mr';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}