// css footer
.footer {
    width: 100%;
    background-color: $black-cl;
    padding-bottom: 0;
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        padding-bottom: var(--pd-bt);
        @include sm {
            align-items: center;
            grid-template-columns: 2fr;
            grid-template-rows: 2fr;
            --pd-bt: 0;
        }
        @include xs {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }
    }
    &__contact {
        @include sm {
            grid-column: 1/2;
            grid-row: 2/3;
        }
        @include xs {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        &-title {
            margin-bottom: var(--gap24);
        }
        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            img {
                margin-right: 26px;
            }
        }
    }
    &__sayings {
        text-align: center;
        @include sm {
            grid-column: 1/3;
            grid-row: 1/2;
        }
        @include xs {
            padding: 15px 0;
            text-align: start;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .logo {
            width: 100%;
            height: initial;
            @include xs {
                justify-content: start;
            }
        }
        .h4-cormorant {
            padding: 35px 0 30px;
            color: $white-cl;
        }
        .listsocial {
            margin: 0 -12px;
            &__item {
                margin: 0 12px;
            }
        }
    }
    &__time {
        text-align: end;
        @include sm {
            grid-column: 2/3;
            grid-row: 2/3;
        }
        @include xs {
            grid-column: 1/2;
            grid-row: 3/4;
            text-align: start;
        }
        @include sm {
            margin-top: 20px;
        }
        &-title {
            margin-bottom: var(--gap24);
        }
        p {
            margin-bottom: 16px;
            .--cl {
                color: $yellow-cl;
            }
        }
    }
    .end {
        --h-footer: 80px;
        width: 100%;
        height: var(--h-footer);
        margin: 0 auto;
        @include dflex;
        background-color: $bg-body;
        @include xs {
            --h-footer: 70px;
            font-size: var(--fs14);
            line-height: var(--lh30);
            text-align: center;
        }
        @include xxs {
            --fs14: 12px;
            --lh30: 18px;
        }
    }
}
